:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;

  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-weight: 500;
  color: var(--text-h);
}
